body{
  background-image: url(../img/estadio.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  border-radius: 20px;
  background-color: gray;
 opacity: 85%;
 padding: 10px;
}